In [26]:
from algom.utils.data_object import dataObject
from src.operate.get_trades import get_business_rules_response

<br><br>

### Get input data

In [52]:
data = dataObject("""
SELECT
ticker_time_sec,
ticker_time,
ticker,
`interval`,
exchange,
week,
month,
quarter,
year,
close,
high,
low,
open,
volume_base,
volume,
AROR_12,
AROR_24,
FROM `algom-trading.train_features.features_BTC_USDT_hour_i01_20180101`
WHERE year = 2018
""")

RUNNING: Querying SQL script.

Downloading: 100%|██████████| 8760/8760 [00:02<00:00, 3074.63rows/s]

SUCCESS: Loaded SQL query.

In [53]:
data.df.head()

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,high,low,open,volume_base,volume,AROR_12,AROR_24
0,1546297200,2018-12-31 23:00:00+00:00,BTC-USDT,hour,binance,1,12,4,2018,3702.90,3707.50,3684.22,3686.43,1054.20,3895684.68,NaN,NaN
1,1546293600,2018-12-31 22:00:00+00:00,BTC-USDT,hour,binance,1,12,4,2018,3686.43,3687.02,3662.02,3671.72,733.42,2694129.72,NaN,NaN
2,1546290000,2018-12-31 21:00:00+00:00,BTC-USDT,hour,binance,1,12,4,2018,3671.72,3678.00,3665.00,3672.00,727.09,2669607.99,NaN,NaN
3,1546286400,2018-12-31 20:00:00+00:00,BTC-USDT,hour,binance,1,12,4,2018,3672.00,3688.77,3657.70,3687.47,1719.86,6318207.68,NaN,NaN
4,1546282800,2018-12-31 19:00:00+00:00,BTC-USDT,hour,binance,1,12,4,2018,3687.47,3742.22,3637.78,3741.52,2213.05,8151842.31,NaN,NaN

<br><br>

### Apply trade responses

In [54]:
df = get_business_rules_response(
    data=data.df, 
    function='trade', 
    module='src.business_rules.trade_business_rules_BTCUSDT', 
    column_name=None, 
    transpose=True
)

In [55]:
df.head()

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,...,low,open,volume_base,volume,AROR_12,AROR_24,response,trade,amount,commission
0,1546297200,2018-12-31 23:00:00+00:00,BTC-USDT,hour,binance,1,12,4,2018,3702.90,...,3684.22,3686.43,1054.20,3895684.68,NaN,NaN,None,None,NaN,NaN
1,1546293600,2018-12-31 22:00:00+00:00,BTC-USDT,hour,binance,1,12,4,2018,3686.43,...,3662.02,3671.72,733.42,2694129.72,NaN,NaN,None,None,NaN,NaN
2,1546290000,2018-12-31 21:00:00+00:00,BTC-USDT,hour,binance,1,12,4,2018,3671.72,...,3665.00,3672.00,727.09,2669607.99,NaN,NaN,None,None,NaN,NaN
3,1546286400,2018-12-31 20:00:00+00:00,BTC-USDT,hour,binance,1,12,4,2018,3672.00,...,3657.70,3687.47,1719.86,6318207.68,NaN,NaN,None,None,NaN,NaN
4,1546282800,2018-12-31 19:00:00+00:00,BTC-USDT,hour,binance,1,12,4,2018,3687.47,...,3637.78,3741.52,2213.05,8151842.31,NaN,NaN,None,None,NaN,NaN

In [56]:
# len(df[df.trade=='BUY'])
df[df.trade=='BUY'].sample(3)

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,...,low,open,volume_base,volume,AROR_12,AROR_24,response,trade,amount,commission
5417,1526796000,2018-05-20 06:00:00+00:00,BTC-USDT,hour,binance,20,5,2,2018,8250.02,...,8250.00,8254.87,441.76,3650386.87,-0.002840,-0.001503,"{'trade': 'BUY', 'amount': 0.12121, 'commissio...",BUY,0.12121,0.0
7406,1519635600,2018-02-26 09:00:00+00:00,BTC-USDT,hour,binance,9,2,1,2018,9471.00,...,9429.41,9429.61,1022.97,9713923.34,-0.007433,-0.005220,"{'trade': 'BUY', 'amount': 0.10559, 'commissio...",BUY,0.10559,0.0
4818,1528952400,2018-06-14 05:00:00+00:00,BTC-USDT,hour,binance,24,6,2,2018,6465.52,...,6425.01,6464.99,1546.99,9992240.62,-0.001847,-0.000630,"{'trade': 'BUY', 'amount': 0.15467, 'commissio...",BUY,0.15467,0.0

In [57]:
len(df[df.trade=='SELL'])
df[df.trade=='SELL'].sample(3)

,ticker_time_sec,ticker_time,ticker,interval,exchange,week,month,quarter,year,close,...,low,open,volume_base,volume,AROR_12,AROR_24,response,trade,amount,commission
4460,1530241200,2018-06-29 03:00:00+00:00,BTC-USDT,hour,binance,26,6,2,2018,5886.09,...,5853.14,5868.32,895.19,5255099.50,-0.000197,-0.003266,"{'trade': 'SELL', 'amount': 0.84946, 'commissi...",SELL,0.84946,0.0
4064,1531666800,2018-07-15 15:00:00+00:00,BTC-USDT,hour,binance,28,7,3,2018,6385.46,...,6350.96,6350.96,1172.92,7474316.33,0.000362,-0.001583,"{'trade': 'SELL', 'amount': 0.78303, 'commissi...",SELL,0.78303,0.0
4590,1529773200,2018-06-23 17:00:00+00:00,BTC-USDT,hour,binance,25,6,2,2018,6130.00,...,6095.99,6108.54,1153.82,7052383.69,0.003683,-0.000338,"{'trade': 'SELL', 'amount': 0.81566, 'commissi...",SELL,0.81566,0.0

<br><br><br>

### Apply backtest

In [58]:
from src.operate import backtest

In [59]:
bt = backtest.backtestTrades(
    df=data.df,
    start_date='2018-01-01',
    end_date='2018-12-31',
    business_rule_functions='src.business_rules.trade_business_rules_BTCUSDT'
)

In [60]:
bt.run_backtest()

BACKTEST: Getting backtest metadata
BACKTEST: Applying trade signals based on business rules module.
BACKTEST: Calculating performance metrics based on business rules module.

        ---------- BACKTEST PERFORMANCE SUMMARY ----------
        - % Gain: 690.3% vs -72.6% market
        - Income: $69032.0
        - Account Value: $79032.0
        - Account Cash:  $79032.0
        - Trades: 2435 of 5870 attempts (41.0% execution rate)
        - Account Min: $9973
        - Account Max: $79099

BACKTEST: Results will not be loaded to BigQuery.

In [61]:
!pwd

/home/jovyan/algomosaic/notebooks/playbooks

In [62]:
bt.backtest_output.to_csv('backtest_output.csv')

In [63]:
bt.backtest_summary

,backtest_execution_id,backtest_executed,parameter,value
0,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,account_cash,79032.241821
1,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,account_value,79032.240000
2,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,commission,0.000000
3,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,income,69032.240000
4,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,pct_gain,6.903224
5,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,pct_gain_market,-0.726299
6,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,trade_attempts,5870.000000
7,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,trades,2435.000000
8,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,account_cash_min,-971.994247
9,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,account_cash_max,79032.241821
10,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,account_value_min,9972.800000
11,d643f211333f8b8c09821b75c59532e0ab22e799,2021-01-08 23:26:51.820152,account_value_max,79098.930000